.cabecalho{
  background-color: #E67E22;
}

.ranking{
  color: black;
  padding-left: 41%;
}

.linkEscalacao{
  color: black;
  padding-right: 38%;
}

.ranking:hover, .linkEscalacao:hover{
  font-weight: bolder;
  color: black;
}

.cartola{
  width: 100%;
}
