body,h1 {
    font-family: "Raleway", sans-serif;
}

body, html {
    height: 100%;
}

/*Estilos utilizados no cabeçalho*/
.cabecalho{
  background-color: #E67E22;
}

.ranking:hover, .linkEscalacao:hover{
  font-weight: bolder;
  color: black;
}

.pageTitle{
    margin-top: 50px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#sticky-footer {
  flex-shrink: none;
}
